.download-section {
  margin: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.download-section__type {
  width: 100%;
  text-align: center;
}

@media (min-width: @mobile-width-only){
.download-section__types {
  background-color: @background-gray;
  }
.download-section__block {
    background-image: url(../img/back-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 89px;
    position: relative;
  }
}

.download-section__title {
  font-weight: 300;
  line-height: 120%;
  color: @basic-white;
}

.download-section__picture {
  display: block;
  background-image: url(../img/phone.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 286px;
}

.download-section__button {
  border: 3px solid @basic-white;
  font-weight: bold;*
  font-size: 18px;
  line-height: 18px;
  box-sizing: border-box;
  border-radius: 29px;
  color: @basic-white;
  background-color: @transparant;
  padding: 21px 39px;
  margin: 28px 0 87px 0;
}

@media (min-width: @tablet-width) {
.download-section {
  display: flex;
  flex-direction: column;
  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 89px;
  position: relative;
  z-index: 0;
}
.download-section__picture {
  z-index: 0;
  top: 0;
  width: 100%;
  height: 545px;
  position: absolute;
  z-index: -1;
}

.download-section__types {
  background: none;
}

.download-section__button  {
  padding: 21px 49px;
}
}

.download-section__desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @basic-white;
  width: 100%;
}

.download-section__items {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  padding: 0;
  text-align: center;
  margin: auto;
}

.download-section__item {
  margin-left: 14px;
  margin-right: 14px;
}
