.feedback {
  padding: 50px 49px 28px 49px;
  margin: auto;
  text-align: center;
}

.feedback__text {
  font-weight: 300;
  line-height: 120%;
  color: @basic-gray;
  width: 100%;
  margin: 0 auto 45px auto;
}

.feedback__contacts-paragraph {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: @basic-gray;
  margin: 0 auto 13px auto;
}

.feedback__contacts-link {
  font-weight: 300;
  line-height: 33px;
  color: @dark-red;
}

.feedback__contacts-item {
  margin-bottom: 31px;
}

.feedback__map {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 200px;
}

.feedback__contacts-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
}


@media (min-width: @tablet-width) {
.feedback__contacts-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 55px;
  margin: 0;
}

.feedback__contacts-item3 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.feedback {
  padding: 55px 49px 67px 30px;
}

.feedback__text {
  font-weight: 300;
  font-size: 40px;
  line-height: 54px;
}

.feedback__contacts-paragraph {
  margin: 0 0 17px 0;
}

.feedback__contacts-item {
  margin-bottom: 0;
}

.feedback__map {
  height: 374px;
  background-image: url(../img/map2.jpg);
}
}

@media (min-width: @desktop-width) {
  .feedback__contacts-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .feedback {
    padding: 74px 160px 30px 177px;
  }

  .feedback__text {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 61px;
  }
  .feedback__contacts-paragraph {
    margin: 0 0 34px 0;
  }
  .feedback__contacts-item3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

}
