.slider-controls1,
.slider-controls2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  text-align: center;
}

.slider-controls__toggle {
  display: block;
  width: 6px;
  height: 6px;
  opacity: 0.3;
  border-radius: 50%;
  background-color: @basic-gray;
  margin: 0 9px;
  padding: 3px;
}

.current {
  display: block;
  width: 6px;
  height: 6px;
  background: @basic-white;
  border: 3px solid @basic-gray;
}

.slider-controls2 {
  margin-bottom: 49px;
}

@media (min-width: @tablet-width) {
  .slider-controls2 {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .slider-controls1,
  .slider-controls2  {
    display: none;
  }
}
